h1 {
  background-image:url("../images-folder/header-gradient.jpg");
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7F00FF;
}

ul li.bar {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:sans-serif;
}

ul li a:hover {
  background-color: #CBC3E3;
}
div.container 
