/*sets image size to a 16:9 aspect ratio*/
div.video {
  width: 300px;
  height: 168.75px;
  }
/*centers the main heading and provides a blue background*/
h1 {
  display:flex;
  justify-content:center;
  background-color: blue;
  border:2px solid black;
}
img {
  float:left;
  width:500px;
}
div {
  overflow:auto;
  clear:left;
}
