div.video {
  width="300" height="168.75";
  }
h1 {
  display:flex;
  justify-content:center;
  background-color: blue;
  border:2px solid black;
}
img {
  float:left;
  width:500px;
}
div {
  overflow:auto;
  clear:left;
}
